/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/img/users/*
!/public/img/users/blank.png
/public/img/lazy_users/*
!/public/img/lazy_users/blank.png
/public/img/topics/*
!/public/img/topics/blank.png
/public/img/lazy_topics/*
!/public/img/lazy_topics/blank.png
/public/img/subjects/*
!/public/img/subjects/blank.png
/public/img/lazy_subjects/*
!/public/img/lazy_subjects/blank.png
/public/img/carousel/*
!/public/img/carousel/welcome.png
/public/img/lazy_carousel/*
!/public/img/lazy_carousel/welcome.png
/public/img/bodies/