/*
$white: #ffffff;
$black: #000000;
$red: #CD1414;
$green: #009664;
$primary: #091E32;
$secondary: #685B4D;
$tags: #676767;
$tags_bk: #E0E0E0;
$scroll_bk: #f4f4f4;
$scroll_color: #c4c4c4;
*/

body::-webkit-scrollbar {
    background: $scroll_bk;
    width: 0.5rem;
}
body::-webkit-scrollbar-thumb {
    background: $scroll_color;
}

#body {
    .bk_blue {
        background: $primary !important;
    }
    .bk_brown {
        background: $secondary !important;
    }
    .bk_red {
        background: $red !important;
    }
    .bk_green {
        background: $green !important;
    }
    .bk_tags {
        background: $tags !important;
    }
    .bk_tags_bk {
        background: $tags_bk !important;
    }
    .txt_white {
        color: $white !important;
    }
    .txt_black {
        color: $black !important;
    }
    .txt_red {
        color: $red !important;
    }
    .txt_green {
        color: $green !important;
    }
    .txt_blue {
        color: $primary !important;
    }
    .txt_tags {
        color: $tags !important;
    }
    .width_100 {
        width: 100% !important;
    }
    .height_100 {
        height: 100% !important;
    }
    .img_login {
        height: 100%;
        max-width: 100%;
    }
    .logo_top {
        width: 13rem;
    }
    #container {
        width: 100vw;
        .show_color {
            height: 10px;
            width: 10px;
            border: 0.1px solid $black;
        }
        #ckeditor {
            border: 1px solid #C4C4C4;
        }
        .ck-content {
            min-height: 300px;
        }
        #topic_drag {
            border-radius: 0.5rem;
            cursor: move;
        }
        .topic_drag_icon {
            float: right;
        }
        .ghost {
            opacity: 0.5;
            background: #c8ebfb;
        }
        #nav_subject {
            position: fixed;
            z-index: 3;
            margin-top: 3rem;
            padding-bottom: 5.4rem;
            // Personalizamos el scroll
            ::-webkit-scrollbar {
                width: 0.2rem;
            }
            ::-webkit-scrollbar-thumb {
                background: rgba($color: $tags, $alpha: 0.5);
                border-radius: 0.5rem;
            }
        }
        #data_container {
            width: 100vw;
            #data_abstract {
                border-radius: 0.25rem;
            }
            .ck-content {
                min-height: 10px !important;
            }
        }
    }
}
