/*
$white: #ffffff;
$black: #000000;
$red: #CD1414;
$primary: #091E32;
$secondary: #685B4D;
*/

#body {
    .bk_blue {
        background: $primary !important;
    }
    .bk_brown {
        background: $secondary !important;
    }
    .bk_red {
        background: $red !important;
    }
    .txt_white {
        color: $white !important;
    }
    .txt_black {
        color: $black !important;
    }
    .txt_red {
        color: $red !important;;
    }
    .txt_blue {
        color: $primary !important;
    }
    .width_100 {
        width: 100% !important;
    }
    .height_100 {
        height: 100% !important;
    }
    .img_login {
        height: 100%;
        max-width: 100%;
    }
    #container {
        width: 100vw;
        .new_btn {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}
