/*
$oprimary: #66E8FF;
$osecondary: #685B4D;
$oaccent: #CFC6C2;
$oicons: #19060D;

$nav1: #cbcac4;
$nav2: #d0d5d9;
$nav3: #b7ccd3;

$white: #ffffff;
$black: #000000;
$primary: #091E32;
$secondary: #685B4D;
*/

#body {
    .bk_blue {
        background: $primary;
    }
    .bk_brown {
        background: $osecondary;
    }
    .txt_white {
        color: $white;
    }
    .txt_black {
        color: $black;
    }
    .center {
        text-align: center;
    }
    .img_login {
        height: 100%;
        max-width: 100%;
    }
    #container {
        width: 100vw;
    }
}