/*
$white: #ffffff;
$black: #000000;
$red: #CD1414;
$green: #009664;
$primary: #091E32;
$secondary: #685B4D;
*/
#body .bk_blue {
  background: #091E32 !important;
}
#body .bk_brown {
  background: #685B4D !important;
}
#body .bk_red {
  background: #CD1414 !important;
}
#body .bk_green {
  background: #009664 !important;
}
#body .txt_white {
  color: #ffffff !important;
}
#body .txt_black {
  color: #000000 !important;
}
#body .txt_red {
  color: #CD1414 !important;
}
#body .txt_green {
  color: #009664 !important;
}
#body .txt_blue {
  color: #091E32 !important;
}
#body .width_100 {
  width: 100% !important;
}
#body .height_100 {
  height: 100% !important;
}
#body .img_login {
  height: 100%;
  max-width: 100%;
}
#body .logo_top {
  width: 13rem;
}
#body #container {
  width: 100vw;
}
#body #container .new_btn {
  position: absolute;
  top: 0;
  right: 0;
}
#body #container .return_btn {
  position: absolute;
  top: 0;
  left: 0;
}
