/*
$oprimary: #66E8FF;
$osecondary: #685B4D;
$oaccent: #CFC6C2;
$oicons: #19060D;

$nav1: #cbcac4;
$nav2: #d0d5d9;
$nav3: #b7ccd3;

$white: #ffffff;
$black: #000000;
$primary: #091E32;
$secondary: #685B4D;
*/
#body .bk_blue {
  background: #091E32 !important;
}
#body .bk_brown {
  background: #685B4D !important;
}
#body .txt_white {
  color: #ffffff !important;
}
#body .txt_black {
  color: #000000 !important;
}
#body .center {
  text-align: center !important;
}
#body .width_100 {
  width: 100% !important;
}
#body .height_100 {
  height: 100% !important;
}
#body .img_login {
  height: 100%;
  max-width: 100%;
}
#body #container {
  width: 100vw;
}

@media screen and (max-width: 500px) {
  .logo {
    display: none;
  }
}
